body{
    background-color: #1e252b;
    margin-left: 750px;
    color: white;
    font-family: "Roboto", sans-serif;
}

body a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: green;
}