:root{
    --color-for-background-menu: #012D63;
    --color: #C7C7C7;
    --color-for-backgr-butt: #8E32C6;
}

.header{
background-color: var(--color-for-background-menu);
}

.white-color a{
    color: white;
    text-decoration: none;
    margin-left: 137px;
}

.benefits{
    color: var(--color);
    text-decoration: none;
}

.ul-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    max-height: 90px;
}

.ul-menu li{
        text-decoration: none;
            list-style: none;
            margin-bottom: 30px;
            margin-top: 30px;
            font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.img{
    margin-left: 168px;
}

.lang{
    color: #C7C7C7;
    text-decoration: none;
    margin-left: 74px;
}

.l{
    color: white;
    margin-left: 10px;
}

.background-img{
    background-image: url("./images/backgr-img-nike.png");
   background-size: 1940px;
    height: 1058px;
    background-repeat: no-repeat;
    margin-top: 0px;
}

.cr{
    color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
}

.cr-2{
        color: white;
          font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

.cr-1{
        color: white;
  font-size: 48px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 196px;
  margin: bottom 40px; ;
}

.div-img{
    margin-top: 94px;
    margin-left: 171px;
}

.cr-3{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 144px;
  color: white;
}

.butt{
    background-color: #8E32C6;
    width: 254px;
    height: 67px;
    color: white;
    border: none;
    border-radius: 10px;
}

.section-background